ABM\ Productos/.vs/ABM\ Productos/FileContentIndex/0b1dd860-dcb9-4198-89c1-e6b4f0786dec.vsidx
ABM\ Productos/Solucion01/obj/Debug/DesignTimeResolveAssemblyReferences.cache
ABM\ Productos/Solucion01/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
